In [1]:
from __future__ import division

from scipy import stats
from scipy.stats import pearsonr
from pandas.tools.plotting import scatter_matrix

from Bio import SeqIO
from Bio.Seq import Seq
import re

import numpy as np
import matplotlib.pyplot as plt
%pylab inline
import seaborn as sns
import pandas as pd
from pandas.io.parsers import *
import seaborn as sns
import os

Populating the interactive namespace from numpy and matplotlib

##Import data

In [2]:
samples = [f for f in os.listdir('Output/') if f.endswith('sort.sam')]
sample_root = ['%s_%s' %(sample.split('_')[6], sample.split('_')[8]) for sample in samples]
dict_sample_names = {'%s_%s' %(sample.split('_')[6], sample.split('_')[8]):sample for sample in samples}
dict_sample_names

{'DFSBLO002A_L001': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002A_S1_L001_R1_001_sort.sam',
 'DFSBLO002A_L002': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002A_S1_L002_R1_001_sort.sam',
 'DFSBLO002B_L001': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002B_S2_L001_R1_001_sort.sam',
 'DFSBLO002B_L002': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002B_S2_L002_R1_001_sort.sam',
 'DFSBLO002C_L001': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002C_S3_L001_R1_001_sort.sam',
 'DFSBLO002C_L002': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002C_S3_L002_R1_001_sort.sam',
 'DFSBLO002D_L001': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002D_S4_L001_R1_001_sort.sam',
 'DFSBLO002D_L002': 'mapped_dCas9_CP_trimmed_forBWA_14mer_DFSBLO002D_S4_L002_R1_001_sort.sam'}

In [3]:
sample_root

['DFSBLO002A_L001',
 'DFSBLO002A_L002',
 'DFSBLO002B_L001',
 'DFSBLO002B_L002',
 'DFSBLO002C_L001',
 'DFSBLO002C_L002',
 'DFSBLO002D_L001',
 'DFSBLO002D_L002']

In [4]:
dict_for_inFrame_gpby = {}

for sample in sample_root:
    dict_for_inFrame_gpby[sample] = pd.read_csv('Output/df_for_inFrame_gpby_%s.csv' %sample,
                                                names = ['POS','Counts'])

##Organize data

In [14]:
dict_for_inFrame_gpby_indexPos = {}

for key in dict_for_inFrame_gpby.iterkeys():
    dict_for_inFrame_gpby_indexPos[key] = dict_for_inFrame_gpby[key].set_index(keys = 'POS', drop = False)

In [16]:
dict_for_inFrame_gpby_indexPos['DFSBLO002A_L001']

     POS  Counts
POS
1      1     532
7      7    2764
13    13      32
22    22    2856
25    25     700
34    34    2300
49    49    3388
58    58       1
67    67     787
70    70    2020
76    76      42
103  103   10914
106  106    5012
121  121   13392
124  124    2227
127  127    1667
145  145   10083
148  148       2
160  160    1713
163  163    2490
166  166      82
169  169    1440
175  175     801
181  181       1
202  202    3241
211  211      71
217  217    2605
220  220    1120
223  223   13396
226  226       1
232  232    2619
238  238    2874
241  241     291
244  244    7650
247  247    1754
250  250      44
265  265       4
277  277    1293
280  280    3800
283  283     784
295  295    3402
298  298   13428
304  304     789
307  307    2974
319  319     896
325  325      38
340  340    1252
346  346     685
349  349    3097
370  370    3713
373  373     107
382  382    3282
385  385    4421
388  388   11740
397  397     254
412  412    2265
430  430     497
436  436     326
439  439    8084
442  442     429
     ...     ...

[579 rows x 2 columns]

In [73]:
dict_init_pos = {i:0 for i in range(1,4167+1)}
df_pos_agg = pd.DataFrame(dict_init_pos, index = dict_init_pos.keys())
df_pos_agg['Index_Pos'] = df_pos_agg.index
df_pos_agg = df_pos_agg[['Index_Pos', 1]]
df_pos_agg.drop(labels = [1], axis = 1, inplace = True)

all_positions = []
for key in dict_for_inFrame_gpby_indexPos.iterkeys():
    all_positions += list(dict_for_inFrame_gpby_indexPos[key].index)

keep_indexes = list(set(all_positions))
keep_indexes.sort()

df_pos_agg_keep = df_pos_agg.ix[keep_indexes]

for df in [df_pos_agg, df_pos_agg_keep]:
    for col_name in dict_for_inFrame_gpby_indexPos.keys():
        df[col_name] = df['Index_Pos'].map(dict_for_inFrame_gpby_indexPos[col_name]['Counts'])
        df[col_name].fillna(value = 0, axis = 0, inplace = True)

In [75]:
df_pos_agg.describe()

,Index_Pos,DFSBLO002A_L002,DFSBLO002A_L001,DFSBLO002B_L002,DFSBLO002B_L001,DFSBLO002C_L001,DFSBLO002C_L002,DFSBLO002D_L001,DFSBLO002D_L002
count,4167.000000,4167.000000,4167.000000,4167.000000,4167.000000,4167.000000,4167.000000,4167.000000,4167.000000
mean,2084.000000,553.017519,552.916727,3382.628510,3379.791937,2243.798176,2242.714663,3247.935685,3251.046796
std,1203.053615,3434.440650,3443.384208,67841.078634,67819.797255,49002.738308,48978.004918,69204.105997,69311.135258
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1042.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2084.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3125.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4167.000000,123508.000000,124480.000000,2892391.000000,2887662.000000,2735809.000000,2734924.000000,3697441.000000,3706686.000000

In [77]:
df_pos_agg_keep.describe()

,Index_Pos,DFSBLO002A_L002,DFSBLO002A_L001,DFSBLO002B_L002,DFSBLO002B_L001,DFSBLO002C_L001,DFSBLO002C_L002,DFSBLO002D_L001,DFSBLO002D_L002
count,666.000000,666.000000,666.000000,666.000000,666.000000,666.000000,666.000000,666.000000,666.000000
mean,2060.126126,3460.096096,3459.465465,21164.283784,21146.536036,14038.899399,14032.120120,20321.543544,20341.009009
std,1150.768645,7988.753577,8013.064879,168688.030826,168636.286731,121972.515672,121910.922194,172207.101176,172474.619717
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1130.500000,17.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2060.500000,1145.000000,1157.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2993.500000,3691.000000,3722.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,4144.000000,123508.000000,124480.000000,2892391.000000,2887662.000000,2735809.000000,2734924.000000,3697441.000000,3706686.000000

##Transform data for DESeq pipeline in R

Note: It is important that each column stems from an independent biological replicate. For technical replicates (e. g. when the same library preparation was distributed over multiple lanes of the sequencer), please sum up their counts to get a single column, corresponding to a unique biological replicate. This is needed in order to allow DESeq to estimate variability in the experiment correctly.

In [122]:
df_pos_agg_keep.head()

,Index_Pos,DFSBLO002A_L002,DFSBLO002A_L001,DFSBLO002B_L002,DFSBLO002B_L001,DFSBLO002C_L001,DFSBLO002C_L002,DFSBLO002D_L001,DFSBLO002D_L002
1,1,560,532,22499,22693,2,5,29236,29212
7,7,2780,2764,292208,292248,233040,232452,532386,533110
10,10,0,0,4,2,2,0,2,1
13,13,29,32,3,2,4950,4747,13075,13026
19,19,1,0,0,0,0,0,0,0

In [123]:
df_ExportForDESeq = df_pos_agg_keep.copy()
df_ExportForDESeq['AminoAcidPos'] = df_ExportForDESeq['Index_Pos'].apply(lambda pos: (pos-1)/3+1)
df_ExportForDESeq.set_index(keys = 'AminoAcidPos', inplace = True, drop = True)
df_ExportForDESeq

,Index_Pos,DFSBLO002A_L002,DFSBLO002A_L001,DFSBLO002B_L002,DFSBLO002B_L001,DFSBLO002C_L001,DFSBLO002C_L002,DFSBLO002D_L001,DFSBLO002D_L002
AminoAcidPos,,,,,,,,,
1,1,560,532,22499,22693,2,5,29236,29212
3,7,2780,2764,292208,292248,233040,232452,532386,533110
4,10,0,0,4,2,2,0,2,1
5,13,29,32,3,2,4950,4747,13075,13026
7,19,1,0,0,0,0,0,0,0
8,22,2822,2856,0,0,0,1,0,0
9,25,702,700,0,0,0,0,0,0
11,31,0,0,1,0,0,0,0,0
12,34,2311,2300,0,0,0,1,0,0
17,49,3393,3388,0,0,0,1,0,0
20,58,0,1,0,0,0,0,0,0
23,67,829,787,0,1,0,0,0,0
24,70,1996,2020,0,0,0,0,0,0
26,76,38,42,0,0,0,0,0,0
29,85,0,0,0,0,0,0,0,1
35,103,11064,10914,3,1,1,1,1,1
36,106,4973,5012,0,2,0,0,0,0
40,118,1,0,0,0,0,0,0,0
41,121,13327,13392,1,1,1,3,1,0
42,124,2295,2227,0,0,0,0,0,0
43,127,1690,1667,0,0,0,0,0,0
44,130,1,0,0,0,0,0,0,0
49,145,9754,10083,0,2,0,1,0,1
50,148,0,2,0,0,0,0,0,0
54,160,1732,1713,0,0,0,0,1,1
55,163,2612,2490,0,1,0,0,1,0
56,166,55,82,0,0,0,0,0,0
57,169,1371,1440,2,0,0,1,0,1
59,175,797,801,0,0,0,0,1,0
61,181,0,1,0,0,0,0,0,0
68,202,3355,3241,0,0,1,0,0,0
71,211,67,71,0,0,0,0,0,0
73,217,2584,2605,0,0,0,0,0,0
74,220,1093,1120,0,0,0,0,0,0
75,223,13094,13396,0,1,1,2,1,1
76,226,0,1,0,0,0,0,0,0
78,232,2605,2619,1,0,0,1,0,0
80,238,2883,2874,0,0,0,0,0,0
81,241,337,291,0,0,0,0,0,0
82,244,7491,7650,0,1,0,0,0,0
83,247,1747,1754,0,0,0,0,0,0
84,250,39,44,0,0,0,0,0,0
89,265,1,4,0,0,0,0,0,0
93,277,1356,1293,0,0,0,0,0,0
94,280,3812,3800,0,0,0,0,0,0
95,283,794,784,0,0,0,0,0,0
99,295,3491,3402,0,0,0,0,0,0
100,298,13590,13428,0,0,3,2,0,0
102,304,751,789,0,0,0,0,0,0
103,307,2921,2974,0,0,0,0,0,0
107,319,913,896,0,1,0,0,0,0
108,322,1,0,0,0,0,0,0,0
109,325,39,38,0,0,0,0,0,0
114,340,1225,1252,1,0,4031,4174,2616,2696
116,346,735,685,0,0,0,0,0,0
117,349,3070,3097,0,0,0,0,2,1
123,367,0,0,1,0,0,0,0,0
124,370,3667,3713,0,0,1,0,0,0
125,373,105,107,0,0,0,0,0,0
128,382,3197,3282,0,0,0,0,1,0
,...,...,...,...,...,...,...,...,...

In [124]:
new_cols = list(set([col.split('_')[0] for col in df_ExportForDESeq.columns if 'L' in col]))
new_cols.sort()

for col in new_cols:
    col1 = '%s_L001' %col
    col2 = '%s_L002' %col
    df_ExportForDESeq[col] = df_ExportForDESeq[col1] + df_ExportForDESeq[col2]

df_ExportForDESeq = df_ExportForDESeq[[col for col in df_ExportForDESeq.columns if not('_' in col)]]
df_ExportForDESeq

              DFSBLO002A  DFSBLO002B  DFSBLO002C  DFSBLO002D
AminoAcidPos
1                   1092       45192           7       58448
3                   5544      584456      465492     1065496
4                      0           6           2           3
5                     61           5        9697       26101
7                      1           0           0           0
8                   5678           0           1           0
9                   1402           0           0           0
11                     0           1           0           0
12                  4611           0           1           0
17                  6781           0           1           0
20                     1           0           0           0
23                  1616           1           0           0
24                  4016           0           0           0
26                    80           0           0           0
29                     0           0           0           1
35                 21978           4           2           2
36                  9985           2           0           0
40                     1           0           0           0
41                 26719           2           4           1
42                  4522           0           0           0
43                  3357           0           0           0
44                     1           0           0           0
49                 19837           2           1           1
50                     2           0           0           0
54                  3445           0           0           2
55                  5102           1           0           1
56                   137           0           0           0
57                  2811           2           1           1
59                  1598           0           0           1
61                     1           0           0           0
68                  6596           0           1           0
71                   138           0           0           0
73                  5189           0           0           0
74                  2213           0           0           0
75                 26490           1           3           2
76                     1           0           0           0
78                  5224           1           1           0
80                  5757           0           0           0
81                   628           0           0           0
82                 15141           1           0           0
83                  3501           0           0           0
84                    83           0           0           0
89                     5           0           0           0
93                  2649           0           0           0
94                  7612           0           0           0
95                  1578           0           0           0
99                  6893           0           0           0
100                27018           0           5           0
102                 1540           0           0           0
103                 5895           0           0           0
107                 1809           1           0           0
108                    1           0           0           0
109                   77           0           0           0
114                 2477           1        8205        5312
116                 1420           0           0           0
117                 6167           0           0           3
123                    0           1           0           0
124                 7380           0           1           0
125                  212           0           0           0
128                 6479           0           0           1
                     ...         ...         ...         ...

[666 rows x 4 columns]

In [125]:
df_ExportForDESeq.to_csv('df_ExportForDESeq.csv')